.template-normal {
  background: @grayLighter;
}

.template-small {
  padding-top: 10%;
  .template-normal;
}

.small-box {
  position: relative;
  .border-radius(4px);
  padding: 20px;
  background: @white;
}

.block {
  .border-radius(4px);
  background: @white;
  border: 1px solid @grayLight;
  margin-bottom: 20px;
}

.footer {
  margin-top: 25px;
  padding: 5px 0 36px;
  border-top: 1px solid #e5e5e5;
}

.footer p {
  margin-bottom: 0;
  color: #555;
}